.customer-card {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    gap: 1rem;

    width: 100%;
    max-width: 25rem;

    grid-area: "card-user";

    & span {
        font-size: var(--body---text--xs);
        line-height: 1.4;
        font-weight: var(--fw-base);
        color: var(--base---gray-500);
    }

    & img {
        border: 2px solid var(--main---pink);
        border-radius: 0.625rem;
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
    }
}