.input-container {
    display: flex; 
    align-items: center; 
    border: 1px solid var(--base---gray-400); 
    border-radius: 0.75rem; 
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--base---gray-300);
    color: var(--base---gray-500);

    width: 100%;
    margin-bottom: 1rem;
}
  
.input-container input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none; 
    background-color: transparent; 
    color: var(--base---gray-500);
}
  
.submit-button {
    background-color: var(--base---gray-700); 
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 2.5rem; 
    width: 2.5rem; 
}
  
.submit-button img {
    width: 1.5rem;
    height: 1.5rem;
}

/* .input-container input[type="text"]:focus {
    border-color: var(--main---pink);
}

.input-container input[type="text"]:not(:placeholder-shown) {
    color: var(--base---gray-700);
}

.input-container input[type="text"]:not(:placeholder-shown):not(:focus) {
    border-color: var(--main---pink);
    color: var(--base---gray-700);

    & button#search-button  {
        background-color: var(--base---gray-700);
    }
} */


@media (width >= 80em) {
    .input-container {
        margin-bottom: 4rem;
        max-width: 25rem;
    }
}