.card-container {
    width: 100%;
    padding: 1rem;

    background-color: var(--base---gray-100);
    border: 1px solid var(--base---gray-300);

    border-radius: 1rem;
}

.separator {
    height: 1px;
    background-color: var(--base---gray-300);
    width: 100%;
}


.inline-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-content {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.aling-right {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: flex-end;
}

.aling-left {
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: start;
}

@media (width >= 80em) {
    .side-content {
        gap: 1rem;
        max-height: 25.87rem;
    }
    
    .aling-left {
        margin-left: 1rem;
    }
}